html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif; // Замена на шрифт Serif
  line-height: 1.6; // Линия для четкости
  color: #333;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #f4f4f4;
  max-width: 1200px; // Изменение ширины контейнера
  margin: 0 auto;
  padding: 40px; // Увеличенные отступы
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}